div{
    background-color: yellow;
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}

h1{
    color: blue;
    text-align: center;
}

p{
    color: red;
    font-size: 18px;
}
